@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root {
  --tab-color: #3949AB;
  --login-title: #434040;
  --trademark-color: #668FE1;
  --drawer-menu-button: #D5D6D8;
  --appbar: #263388;
  --task-dialog-background: #F6F7F9;
  --white: white;
  --gray: gray;
  --light-grey: lightgrey;
  --black: black;
  --hover-more-button: #e6e6e6; 
}

.react-tabs__tab--selected span{
    color: var(--tab-color);
    border-bottom: 3px solid var(--tab-color);   
    padding-bottom: 5px; 
}

@media screen and (max-width: 600px) {
  .react-tabs__tab--selected span{
    color: var(--trademark-color);
    border-bottom: 3px solid var(--trademark-color); 
    padding-bottom: 5px;
  }
}

.react-tabs__tab-panel.react-tabs__tab-panel--selected {
    padding: 0.9rem 0;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    } 
  }

.react-tabs__tab-panel--selected {
    animation-name: fadeIn;
    animation-duration: 400ms;
    animation-timing-function: linear;
}